body {
  background-color: #eedac2;
}

h1 {
  font-family: 'Oleo Script', cursive;
  font-size: 80px;
  color: white;
}

#container {
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

.jumbotron {
  background-image: url("../img/pizza.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-color: #cf7956;
}

.jumbotron p {
  font-size: 20px;
  color: white;
  font-style: italic;
}

button {
  background-color: #878F84;
  color: white;
  border: 2px solid #3742379a;
  width: 30%;
  height: auto;
  display: block;
  border-radius: 50px;
}

#show-price {
  font-size: 30px;
  text-align: center;
}

footer {
  text-align: center;
  background-color: #cf9683;
  padding: 5px;
  display: block;
  color: white;
  bottom: 0;
  position: fixed;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}